
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300;1,700&display=swap');



*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
}
.navBar{
    display: grid;
    grid-template-columns: 300px auto auto;
    font-size: 30px;
    margin: 0px 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    }
    

.logo{
width: 150px;
height: 60px;
size: 30px;
margin-top: 10px;
}

#divCategory{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 25px;
    margin: 30px 0px;
    text-align: center;
}

#Links{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
.tangerLaPorteDeMaroc{
    margin-left:   130px;
}

.divNavBar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    align-items: center;
    font-size: 25px;
    text-decoration:none;
}
#divNavBar{
    text-decoration: none;

}
#favoris{
margin-top: 10px;
}


.login{
    background-color: #1A2252;
    text-align: center;
    border-radius:10px;
    border: none;
    width:100px;
    height: 40px;

}
#loginLink{
    text-decoration: none;
    color:#ffffff;
    font-size: 20px;

}
.section{
    background-image: url(images/tanger1.jpg);
    height: 80vh;
    margin-bottom: 10px;
    background-repeat: no-repeat;
}

.mainCategory{
    margin-top:50px;
}
.category{
    text-align: center;
}

.divCategory{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    margin: 0 10px 10px 90px;
}
.imagesCatégorie{
    box-shadow:  12px 12px 10px rgba(119, 119, 119, 0.422);
    border-radius: 27px;
}
#aboutTanger1{
    text-align: center;
    margin: 90PX;

}
.aboutTanger1{
    position:absolute;
    top: 250px;
}
.tangerLaporte{
position: absolute;
width: 540px;
left: 500px;
top: 1220px;
}
.tangerLaPorte2{
position: absolute;
width: 540px;
left: 650px;
top: 1390px;

}

.imageAboutTanger{
position: absolute;
width: 350px;
height: 500px;
left: 64px;
top: 1300px;
}

.imageAboutTanger2{
position: absolute;
width: 350px;
height: 450px;
left: 250px;
top: 1450px;
}

.aboutTanger2{
    margin-left: 50px;
    margin-top: 200px;
    position: relative;
    top: 640px;

}
.comentAllerATanger{
    text-align: center;
    margin-bottom: 40px;
}
.allerATanger{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 80px;
}
.imgAllerATanger{
    border-radius:5px;
    height: 500px;
    width: 400px;
}
.laMédinaDeTanger{
    text-align: center;
    margin: 120px 0px 50px;
}
.laMédinaTNG{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.tanger5{
    width: 460px;
    height: 470px;
    border-radius:5px;
}
